.container {
  position: relative;

  .hamburgerBtn {
    position: absolute;
    left: 16px;
    top: 16px;
    border-radius: 6px;
    padding-top: 4px;

    img {
      max-width: 30px;
      height: auto;
    }
  }
}
