.capitalR {
  font-size: 120px;
  color: #048734;
  text-shadow: -8px -4px 4px #0fff2b;
  padding-left: 60px;
  padding-right: 60px;
}

.sidebar {
  min-height: 100vh;
  height: 100%;
  color: #ffffff;
}
