.mainContent {
  background-color: #353535;
  min-height: 100vh;
  height: 100%;
  flex-grow: 1;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
