.contact {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.contactLinks {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}

.contactLinks a {
  display: inline-block;
  top: 0px;
  transition: 0.2s top ease;
  position: relative;
}

.contactLinks a:hover {
  top: -4px;
}

.contactLinks img {
  height: 40px;
  max-height: 40px;
}

@media screen and (max-width: 768px) {
  .contactLinks {
    flex-wrap: wrap;
    height: 25px;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .contactLinks img {
    height: 25px;
  }
}
