.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 0;
}

.navigation button {
  font-size: 16px;
  padding: 16px;
  font-weight: 600;
  border-radius: 6px;
}

.navigation.darkMode button {
  background-color: #000000;
  color: #ffffff;
}

.navigation.navigation.darkMode button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navigation.lightMode button {
  background-color: #ffffff;
  color: #000000;
}

.navigation.lightMode button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
