.sidebar {
  min-height: 100vh;
  min-width: 200px;
  height: 100%;
  padding: 40px 16px;

  &.darkMode {
    color: #ffffff;
    background-color: #151515;
  }

  &.lightMode {
    color: #000000;
    background-color: #b5b5b5;
  }

  .capitalR {
    font-size: 120px;
    color: #006000;
    text-shadow: -8px -4px 4px #0fff2b;
    margin: 20px 0;

    @media screen and (max-width: 768px) {
      font-size: 64px;
      text-shadow: -3px -3px 3px #0fff2b;
    }
  }

  .themeBtn {
    color: #ffffff;
    border-radius: 6px;

    img {
      max-width: 40px;
    }
  }
}
