.mySkills {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.certImages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.certImages a {
  display: inline-block;
  top: 0px;
  transition: 0.2s top ease;
  position: relative;
  border-radius: 14px;
}

.certImages a:hover {
  top: -4px;
}

.certImages img {
  max-width: 300px;
}
