.work {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2 {
  padding-top: 20px;
  text-align: left;
}

.workList {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.upperLvlLi {
  font-size: 20px;
  padding: 0;
  font-weight: 600;
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;

  ul {
    font-size: 16px;
    font-weight: 400;
  }
}

.natoSvLogo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: end;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}

.grbNato {
  height: 60px;
  max-height: 60px;
}

.grbSv {
  height: 120px;
  max-height: 120px;
}

.listLogoSect {
  display: flex;
  align-items: start;
  padding-left: 120px;
  padding-right: 120px;
}

.workImages {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;

  img {
    max-height: 300px;
    max-width: 100%;
    border-radius: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .listLogoSect {
    flex-direction: column;
  }
}
