h2 {
  padding-top: 20px;
  text-align: left;
}

.upperLvlLi {
  font-size: 20px;
  padding: 0;
  font-weight: 600;
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
}

.upperLvlLi ul {
  font-size: 16px;
  font-weight: 400;
}

.natoSvLogo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: end;
  gap: 20px;
  align-items: center;
}

.grbNato {
  height: 60px;
  max-height: 60px;
}

.grbSv {
  height: 120px;
  max-height: 120px;
}

.listLogoSect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kforCollection {
  margin-top: 50px;
  border-radius: 16px;
  max-width: 100%;
}

.workList {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .listLogoSect {
    flex-direction: column;
  }
}
