.mainContent {
  min-height: 100vh;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

  &.darkMode {
    background-color: #252525;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  &.lightMode {
    background-color: #ffffff;
    color: #000000;

    a {
      color: #000000;
    }
  }
}
