.mainContent {
  min-height: 100vh;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.mainContent.dark-mode {
  background-color: #252525;
  color: #ffffff;
}

.mainContent.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.mainContent.dark-mode a {
  color: #ffffff;
}

.mainContent.light-mode a {
  color: #000000;
}
